* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#desk {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 1px solid red;
}

#mob {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 1px solid red;
}

.container {
  color: white;
  width: 50vw;
  height: 100px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(94, 94, 104);
  text-align: center;
  input {
    height: 30px;
    border: none;
    border-radius: 5px;
  }
}

.caja {
  color: red;
  width: 50vw;
  height: 100px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
